@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
 
}