<div class="ui inverted teal segment no-margin footer" style="padding: 1em 2em; border-radius: 0">
    <div class="ui four column grid">
        <div class="two column row">
            <div class="column padded">
                Copyright © Thor Team
            </div>
            <div class="column right aligned">
                Version 1.0
            </div>
        </div> 
    </div> 
</div>
</body>
</html>