<div class="ui top fixed menu">
    <div class="item">
        <a href="/" class="ui header">
            <!-- <i class="users icon"></i> -->
            <img class="ui image no-margin" src="/favicon.ico" alt="" srcset="">
            <div class="content">
                Thor Team
                <div class="sub header">NodeJS Achievement</div>
            </div>
        </a>
    </div>
</div>